client/teradata_objects/ETL_EGINE/NiFi/dev_citizen_without_external_services.json
{"flowContents":{"identifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5","instanceIdentifier":"77f4321c-0bad-1de3-168e-179314ec3343","name":"dev_citizen","comments":"","position":{"x":1048.0,"y":576.0},"processGroups":[{"identifier":"71f2e8f8-9842-3211-b695-64f572fc1f27","instanceIdentifier":"77f43361-0bad-1de3-a83c-a4ec0ad7ecf8","name":"Queue Table Manager","comments":"","position":{"x":344.0,"y":336.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3cbb9e5b-1fe5-399f-a964-4355ced5ce0f","instanceIdentifier":"77f435ed-0bad-1de3-64d1-94171d6536a3","name":"check if all done","comments":"","position":{"x":1280.0,"y":448.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"${all_done}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"1ac23606-ea02-3639-b6a6-d388f84441f9","instanceIdentifier":"77f433db-0bad-1de3-0535-59747084d6b0","name":"new wave found?","comments":"","position":{"x":608.0,"y":640.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"No":"${executesql.row.count:equals(0)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"No":{"name":"No","displayName":"No","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"69924a32-e924-3086-90b8-5a901ba1b4c6","instanceIdentifier":"77f435ef-0bad-1de3-d45b-0e9adfc0427a","name":"all done?","comments":"","position":{"x":1888.0,"y":464.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to Property name","Yes":"${executesql.row.count:equals(0)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Yes":{"name":"Yes","displayName":"Yes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"4d6ed826-adaf-317e-9949-690b363a4c1a","instanceIdentifier":"77f4336a-0bad-1de3-1393-299adbd76df9","name":"Check if Queue table exists","comments":"","position":{"x":1240.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SEL top 1 * \nfrom dbc.tablesV where trim(databasename)= '${CONFIG_SCHEMA}' \nand trim(tablename) = 'TGT_TABLES_QUEUE';","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"fe3161fd-6724-369c-9728-c1f98b895e7a","instanceIdentifier":"77f433d9-0bad-1de3-9bed-5a822abe360e","name":"Drop Queue Table","comments":"","position":{"x":1888.0,"y":736.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":"drop TABLE ${CONFIG_SCHEMA}.EXEC_RUN_LOGS;","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"drop TABLE ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"562a2d95-2a7f-31e9-9f55-b0226f6151e9","instanceIdentifier":"77f433e4-0bad-1de3-7f9b-4ac61080ca9e","name":"init_queries","comments":"","position":{"x":1264.0,"y":152.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","all_done":"SELECT top 1 '1' xyz \nFROM GDEV1_ETL.EXEC_SOURCE_LOGS x\nwhere RUN_ID = (select distinct RUN_ID from ${CONFIG_SCHEMA}.EXEC_RUN_LOGS)\nand done = 0\n","Stateful Variables Initial Value":null,"new_wave_query":"with \nlatest_run as \n (select top 1 RUN_ID from ${CONFIG_SCHEMA}.EXEC_RUN_LOGS)\n, SRC_ONE_LOAD_ID as (\n\n\tselect a.SOURCE_NAME, a.LOAD_ID, a.batch_id\n\tfrom ${CONFIG_SCHEMA}.cdc_audit a\n\twhere exists (select 1 from ${CONFIG_SCHEMA}.SOURCE_SYSTEMS P where p.SOURCE_NAME = a.SOURCE_NAME and p.ACTIVE=1 and p.IS_SCHEDULED = 1 and p.loading_mode = 'ONLINE')\n\tand a.PROCESSED=0\n\tqualify ROW_NUMBER() OVER (Partition by SOURCE_NAME order by  batch_id) = 1\n\t\n\tUNION ALL\n\t\n\tselect P.SOURCE_NAME, P.SOURCE_NAME LOAD_ID, 0 batch_id\n\tfrom ${CONFIG_SCHEMA}.SOURCE_SYSTEMS P where p.ACTIVE=1 and p.IS_SCHEDULED = 1 and p.loading_mode = 'OFFLINE'\n)\n, TGT_TABLES AS\n(\n\t\tSELECT DISTINCT \t\t\t\t\t\t\n\t\t  p.TGT_TABLE \n\t\t, p.TGT_LAYER\n\t\t, l.layer_Level\n\t\t, p.SOURCE_NAME\n\t\t\t\t\t\t\n FROM ${CONFIG_SCHEMA}.V_PROCESS P\n join ${CONFIG_SCHEMA}.LAYERS l\n on p.TGT_LAYER = l.layer_name\n\tWHERE ACTIVE = 1\n)\nSELECT\nT.TGT_TABLE\n,T.TGT_LAYER\n,T.LAYER_LEVEL\n,T.SOURCE_NAME\n,r.RUN_ID\n,0 TGT_TABLE_STATE\n,L.LOAD_ID\n,0 OVERRIDE_LOAD\n,CURRENT_TIMESTAMP\t\tLAST_UPDATE_TIME\t\t\nFROM TGT_TABLES T, SRC_ONE_LOAD_ID L, latest_run r\nWHERE T.SOURCE_NAME=L.SOURCE_NAME\nand not exists (\n\t\t\t\t\t\t\tselect\t1 \n\t\t\t\t\t\t\tfrom\t${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS x \n\t\t\t\t\t\t\twhere\t x.DONE = 1\n\t\t\t\t\t\t\tand x.run_id = r.RUN_ID \n\t\t\t\t\t\t\tand x.source_name = T.SOURCE_NAME \n\t\t\t\t\t\t\tand x.load_id = L.LOAD_ID \n\t\t\t\t\t\t)\n\t\t\t\t\t\t\n\t\tand not exists (\n\t\t\t\t\t\t\tselect 1 \n\t\t\t\t\t\t\tfrom ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE x\n\t\t\t\t\t\t\twhere x.run_id = r.RUN_ID \n\t\t\t\t\t\t\tand x.source_name = T.SOURCE_NAME \n\t\t\t\t\t\t\tand x.load_id = L.LOAD_ID \n\t\t\t\t\t\t\tand x.TGT_LAYER = t.TGT_LAYER\n\t\t\t\t\t\t\tand x.TGT_TABLE = t.TGT_TABLE\n\t\t\t\t\t\t\t)"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"all_done":{"name":"all_done","displayName":"all_done","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"new_wave_query":{"name":"new_wave_query","displayName":"new_wave_query","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"2146f20f-e3ca-3173-b2f9-8a9cd8c5c4e0","instanceIdentifier":"77f43369-0bad-1de3-1020-848f3c861835","name":"Exists?","comments":"","position":{"x":1864.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to Property name","Yes":"${executesql.row.count:equals(1)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Yes":{"name":"Yes","displayName":"Yes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"b1e6f2ab-5653-3400-9b89-52cbf1dd51d6","instanceIdentifier":"77f43368-0bad-1de3-f841-2e720e2dc809","name":"Generate Parallel Loading FlowFile","comments":"","position":{"x":624.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"CONFIG_SCHEMA":"GDEV1_ETL","Batch Size":"1","database.name":"Citizen_DEV","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"CONFIG_SCHEMA":{"name":"CONFIG_SCHEMA","displayName":"CONFIG_SCHEMA","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"database.name":{"name":"database.name","displayName":"database.name","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"c1a3adcb-9ef7-352b-a7f2-951098f142d5","instanceIdentifier":"77f433e7-0bad-1de3-17b1-d8183f2212dd","name":"Insert into Queue_table","comments":"","position":{"x":1288.0,"y":736.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":"INSERT\tINTO ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS\n(RUN_ID, LOAD_ID, SOURCE_NAME, START_TIMESTAMP, END_TIMESTAMP,\nSTG_DONE, BKEY_DONE, SRCI_DONE, CORE_DONE, DONE\n,ROWS_INSERTED_COUNT,ROWS_UPDATED_COUNT, ROWS_DELETED_COUNT, ERROR_CODE, ERROR_MSG\n)\nSELect\ndistinct\nRUN_ID, LOAD_ID, SOURCE_NAME, current_timestamp START_TIMESTAMP, null END_TIMESTAMP,\n\t\t0 STG_DONE, 0 BKEY_DONE, 0 SRCI_DONE, 0 CORE_DONE, 0 DONE\n\t\t, null ROWS_INSERTED_COUNT, null  ROWS_UPDATED_COUNT, null  ROWS_DELETED_COUNT,\n\t\tnull  ERROR_CODE, null  ERROR_MSG\nFROM ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE src\nwhere not exists (select 1 from ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS tgt where src.RUN_ID=tgt.RUN_ID and src.LOAD_ID=tgt.LOAD_ID and src.SOURCE_NAME=tgt.SOURCE_NAME);","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"insert into ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE\n${new_wave_query}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"d72c2a4b-87c8-32b0-8200-a241a917f6ad","instanceIdentifier":"77f43370-0bad-1de3-4236-24838e33d695","name":"update LOGS","comments":"","position":{"x":1864.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"UPDATE TGT \nFROM ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS TGT, ${CONFIG_SCHEMA}.V_EXEC_SOURCE_LOAD_LOGS SRC\nSET \n\t STG_DONE =  LAYER_DONE\n\t,ERROR_CODE = LAST_ERROR_CODE\n\t,ERROR_MSG = LAST_ERROR_MSG\nWHERE SRC.RUN_ID = TGT.RUN_ID\nAND SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nAND SRC.LAYER_NAME = 'STG'\nAND (TGT.END_TIMESTAMP IS NULL OR TGT.DONE = 0)\nAND STG_DONE <>  LAYER_DONE;\n\nUPDATE TGT \nFROM ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS TGT, ${CONFIG_SCHEMA}.V_EXEC_SOURCE_LOAD_LOGS SRC\nSET \n\t BKEY_DONE =  LAYER_DONE\n\t,ERROR_CODE = LAST_ERROR_CODE\n\t,ERROR_MSG = LAST_ERROR_MSG\nWHERE SRC.RUN_ID = TGT.RUN_ID\nAND SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nAND SRC.LAYER_NAME = 'BKEY'\nAND (TGT.END_TIMESTAMP IS NULL OR TGT.DONE = 0)\nand BKEY_DONE <> LAYER_DONE;\n\nUPDATE TGT \nFROM ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS TGT, ${CONFIG_SCHEMA}.V_EXEC_SOURCE_LOAD_LOGS SRC\nSET \n\t SRCI_DONE =  LAYER_DONE\n\t,ERROR_CODE = LAST_ERROR_CODE\n\t,ERROR_MSG = LAST_ERROR_MSG\nWHERE SRC.RUN_ID = TGT.RUN_ID\nAND SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nAND SRC.LAYER_NAME = 'SRCI'\nAND (TGT.END_TIMESTAMP IS NULL OR TGT.DONE = 0)\nand SRCI_DONE <> LAYER_DONE;\n\nUPDATE TGT \nFROM ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS TGT, ${CONFIG_SCHEMA}.V_EXEC_SOURCE_LOAD_LOGS SRC\nSET \n\t CORE_DONE =  LAYER_DONE\n\t,ERROR_CODE = LAST_ERROR_CODE\n\t,ERROR_MSG = LAST_ERROR_MSG\nWHERE SRC.RUN_ID = TGT.RUN_ID\nAND SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nAND SRC.LAYER_NAME = 'CORE'\nAND (TGT.END_TIMESTAMP IS NULL OR TGT.DONE = 0)\nand CORE_DONE <> LAYER_DONE;\n\nUPDATE TGT \nFROM ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS TGT, \n(\n\t\t\tselect RUN_ID,  LOAD_ID, SOURCE_NAME\n\t\t\t\n\t\t\t, \tSUM(ROWS_INSERTED_COUNT) \t\tROWS_INSERTED_COUNT\n\t\t\t,\tsum(ROWS_UPDATED_COUNT) \t\tROWS_UPDATED_COUNT\n\t\t\t,\tsum(ROWS_DELETED_COUNT) \t\tROWS_DELETED_COUNT\n\t\t\tfrom ${CONFIG_SCHEMA}.V_EXEC_SOURCE_LOAD_LOGS \n\t\t\tgroup by RUN_ID,  LOAD_ID, SOURCE_NAME\n\t\t\thaving SUM(case when PRECEDING_LAYER_DONE = 1 and PRECEDING_FAILED_CNT > 0 then 0 else CNT_PROCESSES end) = sum(passed) + sum(failed)\n) SRC\nSET \n\tROWS_INSERTED_COUNT = src.ROWS_INSERTED_COUNT\n\t,ROWS_UPDATED_COUNT = src.ROWS_UPDATED_COUNT\n\t,ROWS_DELETED_COUNT = src.ROWS_DELETED_COUNT\n\t,DONE =  1\n\t,END_TIMESTAMP = current_timestamp\nWHERE SRC.RUN_ID = TGT.RUN_ID\nAND SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nAND (TGT.END_TIMESTAMP IS NULL OR TGT.DONE = 0);\n\nupdate tgt\nfrom ${CONFIG_SCHEMA}.CDC_AUDIT tgt, ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS src\nset PROCESSED = 1, UPDATED_BY = user, UPDATED_AT=current_timestamp\nwhere SRC.LOAD_ID = TGT.LOAD_ID\nAND SRC.SOURCE_NAME = TGT.SOURCE_NAME\nand src.DONE = 1\nand src.ERROR_CODE = 0\nand tgt.PROCESSED = 0;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"affcdf14-8783-3d97-890f-bf07190026b9","instanceIdentifier":"77f43376-0bad-1de3-b97b-196aafd3d92a","name":"Abort all logs","comments":"","position":{"x":2472.0,"y":88.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"update ${CONFIG_SCHEMA}.EXEC_SCRIPT_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp\nwhere END_TIMESTAMP is null;\n\nupdate ${CONFIG_SCHEMA}.EXEC_PROCESS_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp\nwhere END_TIMESTAMP is null;\n\nupdate ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp, DONE = 1\nwhere (END_TIMESTAMP is null or DONE = 0);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"6a98f663-5def-35e0-a537-39cc8e2b79f3","instanceIdentifier":"77f432ce-0bad-1de3-1b18-72f768e36c38","name":"get new wave","comments":"","position":{"x":608.0,"y":160.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"${new_wave_query}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"65ec5e57-a3a0-3b45-aa8d-5f0c499837e7","instanceIdentifier":"77f43384-0bad-1de3-b97f-9b1ddd68d09b","name":"Abort logs with diff run_id","comments":"","position":{"x":2464.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"update ${CONFIG_SCHEMA}.EXEC_SCRIPT_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp\nwhere END_TIMESTAMP is null\nand RUN_ID <> ( select distinct run_id from ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE);\n\nupdate ${CONFIG_SCHEMA}.EXEC_PROCESS_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp\nwhere END_TIMESTAMP is null\nand RUN_ID <> ( select distinct run_id from ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE);\n\nupdate ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS\nset ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp, DONE = 1\nwhere (END_TIMESTAMP is null or DONE = 0)\nand RUN_ID <> ( select distinct run_id from ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26d546e5-213e-3df0-90be-b72fc4b1c7bc","instanceIdentifier":"77f433e9-0bad-1de3-229a-e8bb57abf9f7","name":"Yes","source":{"id":"1ac23606-ea02-3639-b6a6-d388f84441f9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"new wave found?","comments":"","instanceIdentifier":"77f433db-0bad-1de3-0535-59747084d6b0"},"destination":{"id":"c1a3adcb-9ef7-352b-a7f2-951098f142d5","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Insert into Queue_table","comments":"","instanceIdentifier":"77f433e7-0bad-1de3-17b1-d8183f2212dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"15ac1b8f-804b-3576-83a9-f1a40997a229","instanceIdentifier":"77f433dc-0bad-1de3-7a9e-144d282809ff","name":"","source":{"id":"6a98f663-5def-35e0-a537-39cc8e2b79f3","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"get new wave","comments":"","instanceIdentifier":"77f432ce-0bad-1de3-1b18-72f768e36c38"},"destination":{"id":"1ac23606-ea02-3639-b6a6-d388f84441f9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"new wave found?","comments":"","instanceIdentifier":"77f433db-0bad-1de3-0535-59747084d6b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"41ee8819-5ba2-3632-a2c1-961a8e08d912","instanceIdentifier":"77f432e4-0bad-1de3-d482-28a3294de91a","name":"","source":{"id":"6a98f663-5def-35e0-a537-39cc8e2b79f3","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"get new wave","comments":"","instanceIdentifier":"77f432ce-0bad-1de3-1b18-72f768e36c38"},"destination":{"id":"6a98f663-5def-35e0-a537-39cc8e2b79f3","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"get new wave","comments":"","instanceIdentifier":"77f432ce-0bad-1de3-1b18-72f768e36c38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":880.0,"y":128.0},{"x":704.0,"y":128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"e0342428-e11b-37b5-b873-5fdc100d6800","instanceIdentifier":"77f433e8-0bad-1de3-55b3-f3eb987ce1fd","name":"","source":{"id":"562a2d95-2a7f-31e9-9f55-b0226f6151e9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"init_queries","comments":"","instanceIdentifier":"77f433e4-0bad-1de3-7f9b-4ac61080ca9e"},"destination":{"id":"6a98f663-5def-35e0-a537-39cc8e2b79f3","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"get new wave","comments":"","instanceIdentifier":"77f432ce-0bad-1de3-1b18-72f768e36c38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"0513d42c-2c1c-3b67-9fd2-26e7951839c0","instanceIdentifier":"77f43378-0bad-1de3-173f-1000c959ad4e","name":"","source":{"id":"affcdf14-8783-3d97-890f-bf07190026b9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort all logs","comments":"","instanceIdentifier":"77f43376-0bad-1de3-b97b-196aafd3d92a"},"destination":{"id":"affcdf14-8783-3d97-890f-bf07190026b9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort all logs","comments":"","instanceIdentifier":"77f43376-0bad-1de3-b97b-196aafd3d92a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2728.0,"y":240.0},{"x":2584.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"dfb19be0-7f57-3ffb-83f4-c8be1d981a57","instanceIdentifier":"77f43385-0bad-1de3-a650-e4b347111760","name":"","source":{"id":"2146f20f-e3ca-3173-b2f9-8a9cd8c5c4e0","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Exists?","comments":"","instanceIdentifier":"77f43369-0bad-1de3-1020-848f3c861835"},"destination":{"id":"65ec5e57-a3a0-3b45-aa8d-5f0c499837e7","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort logs with diff run_id","comments":"","instanceIdentifier":"77f43384-0bad-1de3-b97f-9b1ddd68d09b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Yes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"23b8838e-8c8e-3d68-912b-c37b8331dac0","instanceIdentifier":"77f43386-0bad-1de3-9e14-d0243a139b55","name":"","source":{"id":"65ec5e57-a3a0-3b45-aa8d-5f0c499837e7","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort logs with diff run_id","comments":"","instanceIdentifier":"77f43384-0bad-1de3-b97f-9b1ddd68d09b"},"destination":{"id":"65ec5e57-a3a0-3b45-aa8d-5f0c499837e7","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort logs with diff run_id","comments":"","instanceIdentifier":"77f43384-0bad-1de3-b97f-9b1ddd68d09b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2704.0,"y":24.0},{"x":2576.0,"y":24.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"6df5280e-30ce-3726-b241-b5ea85cbf9c3","instanceIdentifier":"77f433dd-0bad-1de3-7140-2102c9b9681e","name":"","source":{"id":"1ac23606-ea02-3639-b6a6-d388f84441f9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"new wave found?","comments":"","instanceIdentifier":"77f433db-0bad-1de3-0535-59747084d6b0"},"destination":{"id":"3cbb9e5b-1fe5-399f-a964-4355ced5ce0f","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"check if all done","comments":"","instanceIdentifier":"77f435ed-0bad-1de3-64d1-94171d6536a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"af01f22b-697c-3094-8a4e-0390e19d6440","instanceIdentifier":"77f43371-0bad-1de3-01b9-598a8c16e0ad","name":"","source":{"id":"2146f20f-e3ca-3173-b2f9-8a9cd8c5c4e0","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Exists?","comments":"","instanceIdentifier":"77f43369-0bad-1de3-1020-848f3c861835"},"destination":{"id":"d72c2a4b-87c8-32b0-8200-a241a917f6ad","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"update LOGS","comments":"","instanceIdentifier":"77f43370-0bad-1de3-4236-24838e33d695"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Yes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"715d718f-ef2f-39ee-a91b-0e6d55c2b3c7","instanceIdentifier":"77f435f0-0bad-1de3-90e0-6cb66ff92be5","name":"","source":{"id":"3cbb9e5b-1fe5-399f-a964-4355ced5ce0f","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"check if all done","comments":"","instanceIdentifier":"77f435ed-0bad-1de3-64d1-94171d6536a3"},"destination":{"id":"69924a32-e924-3086-90b8-5a901ba1b4c6","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"all done?","comments":"","instanceIdentifier":"77f435ef-0bad-1de3-d45b-0e9adfc0427a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"75a2cf15-7d2b-329d-8f4b-e7d9faefce5e","instanceIdentifier":"77f435f1-0bad-1de3-7d1d-cd104a2ecd22","name":"","source":{"id":"3cbb9e5b-1fe5-399f-a964-4355ced5ce0f","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"check if all done","comments":"","instanceIdentifier":"77f435ed-0bad-1de3-64d1-94171d6536a3"},"destination":{"id":"3cbb9e5b-1fe5-399f-a964-4355ced5ce0f","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"check if all done","comments":"","instanceIdentifier":"77f435ed-0bad-1de3-64d1-94171d6536a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1336.0,"y":416.0},{"x":1520.0,"y":416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"71042ca2-d9c0-3ff7-b6dc-f85d7c588d88","instanceIdentifier":"77f4336c-0bad-1de3-9fc7-22f47e5dca12","name":"","source":{"id":"4d6ed826-adaf-317e-9949-690b363a4c1a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f4336a-0bad-1de3-1393-299adbd76df9"},"destination":{"id":"2146f20f-e3ca-3173-b2f9-8a9cd8c5c4e0","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Exists?","comments":"","instanceIdentifier":"77f43369-0bad-1de3-1020-848f3c861835"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"7b626192-2546-3f09-95b9-a15d27c5c6c9","instanceIdentifier":"77f43377-0bad-1de3-3099-41e902de3dcc","name":"No","source":{"id":"2146f20f-e3ca-3173-b2f9-8a9cd8c5c4e0","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Exists?","comments":"","instanceIdentifier":"77f43369-0bad-1de3-1020-848f3c861835"},"destination":{"id":"affcdf14-8783-3d97-890f-bf07190026b9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Abort all logs","comments":"","instanceIdentifier":"77f43376-0bad-1de3-b97b-196aafd3d92a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"a37e101f-c2d5-3920-b068-d086ef4b82e9","instanceIdentifier":"77f43374-0bad-1de3-ed38-346e0a593bdd","name":"","source":{"id":"d72c2a4b-87c8-32b0-8200-a241a917f6ad","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"update LOGS","comments":"","instanceIdentifier":"77f43370-0bad-1de3-4236-24838e33d695"},"destination":{"id":"d72c2a4b-87c8-32b0-8200-a241a917f6ad","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"update LOGS","comments":"","instanceIdentifier":"77f43370-0bad-1de3-4236-24838e33d695"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1968.0,"y":320.0},{"x":2120.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"e64a4e5a-f236-30a9-926b-5edb05a57816","instanceIdentifier":"77f43393-0bad-1de3-b54a-e87de9bee48d","name":"","source":{"id":"d72c2a4b-87c8-32b0-8200-a241a917f6ad","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"update LOGS","comments":"","instanceIdentifier":"77f43370-0bad-1de3-4236-24838e33d695"},"destination":{"id":"562a2d95-2a7f-31e9-9f55-b0226f6151e9","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"init_queries","comments":"","instanceIdentifier":"77f433e4-0bad-1de3-7f9b-4ac61080ca9e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"1fa068c3-eeac-34f2-8cb6-79872b6d51de","instanceIdentifier":"77f433de-0bad-1de3-9bc7-b0cc3c4f9151","name":"","source":{"id":"fe3161fd-6724-369c-9728-c1f98b895e7a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Drop Queue Table","comments":"","instanceIdentifier":"77f433d9-0bad-1de3-9bed-5a822abe360e"},"destination":{"id":"fe3161fd-6724-369c-9728-c1f98b895e7a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Drop Queue Table","comments":"","instanceIdentifier":"77f433d9-0bad-1de3-9bed-5a822abe360e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2360.8255004882812,"y":804.1268310546875},{"x":2360.8255004882812,"y":854.1268310546875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"6dfeefec-a21f-3686-9a23-0eb04f94fae9","instanceIdentifier":"77f4336b-0bad-1de3-7064-a9a098726854","name":"","source":{"id":"b1e6f2ab-5653-3400-9b89-52cbf1dd51d6","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Generate Parallel Loading FlowFile","comments":"","instanceIdentifier":"77f43368-0bad-1de3-f841-2e720e2dc809"},"destination":{"id":"4d6ed826-adaf-317e-9949-690b363a4c1a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f4336a-0bad-1de3-1393-299adbd76df9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"33208b7c-380c-3b45-81df-f2bd71f3193d","instanceIdentifier":"77f4336e-0bad-1de3-f15d-723e6b89e9e8","name":"","source":{"id":"4d6ed826-adaf-317e-9949-690b363a4c1a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f4336a-0bad-1de3-1393-299adbd76df9"},"destination":{"id":"4d6ed826-adaf-317e-9949-690b363a4c1a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f4336a-0bad-1de3-1393-299adbd76df9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1347.06494140625,"y":5.0981292724609375},{"x":1480.0,"y":16.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"15a0d269-450b-3a85-94e2-10a212ebb674","instanceIdentifier":"77f433ea-0bad-1de3-4abe-aa5f9d6b2180","name":"","source":{"id":"c1a3adcb-9ef7-352b-a7f2-951098f142d5","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Insert into Queue_table","comments":"","instanceIdentifier":"77f433e7-0bad-1de3-17b1-d8183f2212dd"},"destination":{"id":"c1a3adcb-9ef7-352b-a7f2-951098f142d5","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Insert into Queue_table","comments":"","instanceIdentifier":"77f433e7-0bad-1de3-17b1-d8183f2212dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1576.54638671875,"y":705.8683471679688},{"x":1400.54638671875,"y":705.8683471679688}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"},{"identifier":"f7eb06a0-6b0c-3935-a211-4bd55ada934d","instanceIdentifier":"77f435f3-0bad-1de3-885f-0204c4a73c8d","name":"","source":{"id":"69924a32-e924-3086-90b8-5a901ba1b4c6","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"all done?","comments":"","instanceIdentifier":"77f435ef-0bad-1de3-d45b-0e9adfc0427a"},"destination":{"id":"fe3161fd-6724-369c-9728-c1f98b895e7a","type":"PROCESSOR","groupId":"71f2e8f8-9842-3211-b695-64f572fc1f27","name":"Drop Queue Table","comments":"","instanceIdentifier":"77f433d9-0bad-1de3-9bed-5a822abe360e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Yes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f2e8f8-9842-3211-b695-64f572fc1f27"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"},{"identifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","instanceIdentifier":"77f43277-0bad-1de3-b6ff-fa64e962143b","name":"Process All Layers","comments":"","position":{"x":1096.0,"y":336.0},"processGroups":[{"identifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","instanceIdentifier":"77f4327e-0bad-1de3-4811-67f2407f4231","name":"Read from Queue Table","comments":"","position":{"x":872.0,"y":-96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"534c6eea-da60-3f37-9be3-e311f7ee56ad","instanceIdentifier":"77f43283-0bad-1de3-4e62-6c359ae068ec","name":"Check if Queue table exists","comments":"","position":{"x":952.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SEL top 1 * \nfrom dbc.tablesV where trim(databasename)= '${CONFIG_SCHEMA}' \nand trim(tablename) = 'TGT_TABLES_QUEUE';","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"d1b86d89-a923-3fd2-8f59-9e073ec01bb8","instanceIdentifier":"77f43282-0bad-1de3-4ac2-bf02339d183b","name":"Exists?","comments":"","position":{"x":1560.0,"y":184.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to Property name","Yes":"${executesql.row.count:equals(1)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Yes":{"name":"Yes","displayName":"Yes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"d6913e9e-47d5-3670-b0d9-f8e811e5ba91","instanceIdentifier":"77f43285-0bad-1de3-3362-286497c99100","name":"Fix Attributes","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES","position":{"x":952.0,"y":792.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"q_TGT_TABLE":"${base_table_name.2}","q_TGT_LAYER":"${base_table_name.1}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","q_LOAD_ID":"${base_table_name.4}","q_RUN_ID":"${base_table_name.6}","q_SOURCE_NAME":"${base_table_name.3}","Stateful Variables Initial Value":null,"q_CNT_PROCESSES":"${base_table_name.7}","q_OVERRIDE_LOAD":"${base_table_name.5}","v_run_id":"${base_table_name.6}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"q_TGT_TABLE":{"name":"q_TGT_TABLE","displayName":"q_TGT_TABLE","identifiesControllerService":false,"sensitive":false},"q_TGT_LAYER":{"name":"q_TGT_LAYER","displayName":"q_TGT_LAYER","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"q_LOAD_ID":{"name":"q_LOAD_ID","displayName":"q_LOAD_ID","identifiesControllerService":false,"sensitive":false},"q_RUN_ID":{"name":"q_RUN_ID","displayName":"q_RUN_ID","identifiesControllerService":false,"sensitive":false},"q_SOURCE_NAME":{"name":"q_SOURCE_NAME","displayName":"q_SOURCE_NAME","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"q_CNT_PROCESSES":{"name":"q_CNT_PROCESSES","displayName":"q_CNT_PROCESSES","identifiesControllerService":false,"sensitive":false},"q_OVERRIDE_LOAD":{"name":"q_OVERRIDE_LOAD","displayName":"q_OVERRIDE_LOAD","identifiesControllerService":false,"sensitive":false},"v_run_id":{"name":"v_run_id","displayName":"v_run_id","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"ad3d5774-61ce-3a4f-8614-16b8fa8ba2ac","instanceIdentifier":"77f4327b-0bad-1de3-7044-070f114e5342","name":"Generate Parallel Loading FlowFile","comments":"","position":{"x":216.0,"y":184.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"CONFIG_SCHEMA":"GDEV1_ETL","Batch Size":"1","database.name":"Citizen_DEV","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"CONFIG_SCHEMA":{"name":"CONFIG_SCHEMA","displayName":"CONFIG_SCHEMA","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"database.name":{"name":"database.name","displayName":"database.name","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"df6a78fb-4c01-3e6c-b0d9-caf59ef11313","instanceIdentifier":"77f43287-0bad-1de3-15d6-59b9fe8fe4cc","name":"ExtractText","comments":"Q.TGT_LAYER, Q.TGT_TABLE, Q.SOURCE_NAME, Q.LOAD_ID, Q.OVERRIDE_LOAD, Q.RUN_ID, CNT_PROCESSES","position":{"x":216.0,"y":792.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","base_table_name":"(.*),(.*),(.*),(.*),(.*),(.*),(.*)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"base_table_name":{"name":"base_table_name","displayName":"base_table_name","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"46857f00-d8d1-3359-b28c-cbe527b5232d","instanceIdentifier":"77f43281-0bad-1de3-6ff4-6145f7f6a35f","name":"Select Base Tables, Edit Queue Table","comments":"${CONFIG_SCHEMA}","position":{"x":1560.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":"update ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE\nset TGT_TABLE_STATE = 2, LAST_UPDATE_TIME = CURRENT_TIMESTAMP\nwhere TGT_TABLE_STATE = 1;","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"UPDATE\tQT \nFROM ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE QT, \n(\n\tselect qq.* \t\n\tfrom\n\t(\n\t\t\t\t\t\t\tSELect Q.*\n\t\t\t\t\t\t\tFROM ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE Q\n\t\t\t\t\t\t\tWHERE Q.TGT_TABLE_STATE = 0\t\n\t\t\t\t\t\t\tAND  not EXISTS (\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tSELECT 1 \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tFROM ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE x \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tWHERE ( x.TGT_TABLE_STATE > 0 and x.TGT_TABLE_STATE < 3) \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tAND x.TGT_TABLE = Q.TGT_TABLE AND x.TGT_LAYER = Q.TGT_LAYER\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t) \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\tand not exists (SELECT *\n\t  \t\t\t\t\t\t\t\t\tFROM ${CONFIG_SCHEMA}.V_EXEC_PROCESS_LOGS l\n\t \t\t\t\t\t\t\t\t\tWHERE l.RUN_ID \t\t\t=   Q.RUN_ID\n\t\t\t\t\t\t\t\t\t\tand l.SOURCE_NAME\t\t =   Q.SOURCE_NAME\n\t\t\t\t\t\t\t\t\t\tand l.LOAD_ID \t\t\t\t\t=   Q.LOAD_ID\n\t\t\t\t\t\t\t\t\t\tand l.LAYER_LEVEL \t\t\t<   Q.LAYER_LEVEL\t\t\n\t\t\t\t\t\t\t\t\t\tand l.ERROR_CODE \t\t<>  0\n\t\t\t\t\t\t\t\t\t\t)\n\t\t\t\t\t\t\tQUALIFY ROW_NUMBER()  OVER(PARTITION BY Q.TGT_LAYER, Q.TGT_TABLE  ORDER BY Q.LAST_UPDATE_TIME, Q.LAYER_LEVEL, Q.SOURCE_NAME)=1\n\n\t)  qq\n\twhere not exists (select 1 \n\t\t\t\t\t\t\t\tfrom ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE lvl \n\t\t\t\t\t\t\t\twhere lvl.RUN_ID \t\t\t\t\t=   qq.RUN_ID\n\t\t\t\t\t\t\t\tand lvl.SOURCE_NAME\t\t =   qq.SOURCE_NAME\n\t\t\t\t\t\t\t\tand lvl.LAYER_LEVEL \t\t<   qq.LAYER_LEVEL\n\t\t\t\t\t\t\t\tand lvl.TGT_TABLE_STATE < 3\n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t)\n\n\tQUALIFY dense_rank()  OVER(PARTITION BY qq.SOURCE_NAME  ORDER BY qq.LAYER_LEVEL)=1\n) x\nSET TGT_TABLE_STATE \t\t\t= 1\n, LAST_UPDATE_TIME \t\t\t\t= CURRENT_TIMESTAMP\nWHERE X.TGT_TABLE\t\t\t\t= QT.TGT_TABLE\n\tAND X.TGT_LAYER\t\t\t\t\t= QT.TGT_LAYER\n\tAND X.RUN_ID\t\t\t\t\t= QT.RUN_ID\n\tAND X.SOURCE_NAME\t\t\t\t= QT.SOURCE_NAME\n\tAND X.LOAD_ID\t\t\t\t\t= QT.LOAD_ID\n\tAND QT.TGT_TABLE_STATE\t\t\t= QT.TGT_TABLE_STATE;","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SEL DISTINCT \n\tQ.TGT_LAYER, Q.TGT_TABLE, Q.SOURCE_NAME, Q.LOAD_ID, Q.OVERRIDE_LOAD, Q.RUN_ID,\n\t(SELECT COUNT(1) \n\t\tFROM ${CONFIG_SCHEMA}.PROCESS P \n\t\tWHERE P.TGT_LAYER=Q.TGT_LAYER \n\t\tand P.TGT_TABLE=Q.TGT_TABLE \n\t\tand P.SOURCE_NAME=Q.SOURCE_NAME \n\t) CNT_PROCESSES\nFROM  ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE\t Q\n\t\nWHERE Q.TGT_TABLE_STATE = 1\nORDER BY CNT_PROCESSES DESC;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"09937d63-7a58-3700-9079-373b834e3b25","instanceIdentifier":"77f43284-0bad-1de3-8a34-4ef48d491260","name":"To CSV","comments":"","position":{"x":952.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"record-writer":"9ab16de3-eb09-3a2f-a0e3-2e5e1b68feec","record-reader":"58b007ab-3af5-387e-beeb-da46552f0500","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"7de30bad-77f4-31d7-87aa-189c6889a2e2","instanceIdentifier":"77f43286-0bad-1de3-5b1c-46fffa2e01b9","name":"SplitText","comments":"","position":{"x":216.0,"y":480.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"}],"inputPorts":[],"outputPorts":[{"identifier":"fe218251-1ee1-3565-89e2-4d31be53a20a","instanceIdentifier":"77f43280-0bad-1de3-4089-2361b6e08ee2","name":"Done","comments":"","position":{"x":1616.0,"y":832.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"}],"connections":[{"identifier":"2ca9448a-c39d-34e2-9f37-1e6e01f962aa","instanceIdentifier":"77f4328e-0bad-1de3-8557-415901c75bf4","name":"","source":{"id":"df6a78fb-4c01-3e6c-b0d9-caf59ef11313","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"ExtractText","comments":"Q.TGT_LAYER, Q.TGT_TABLE, Q.SOURCE_NAME, Q.LOAD_ID, Q.OVERRIDE_LOAD, Q.RUN_ID, CNT_PROCESSES","instanceIdentifier":"77f43287-0bad-1de3-15d6-59b9fe8fe4cc"},"destination":{"id":"d6913e9e-47d5-3670-b0d9-f8e811e5ba91","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Fix Attributes","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES","instanceIdentifier":"77f43285-0bad-1de3-3362-286497c99100"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"c19b1b43-4e3a-3b27-8e2c-2948ba0007d3","instanceIdentifier":"77f4328d-0bad-1de3-3fbb-726ee0216896","name":"","source":{"id":"46857f00-d8d1-3359-b28c-cbe527b5232d","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Select Base Tables, Edit Queue Table","comments":"${CONFIG_SCHEMA}","instanceIdentifier":"77f43281-0bad-1de3-6ff4-6145f7f6a35f"},"destination":{"id":"09937d63-7a58-3700-9079-373b834e3b25","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"To CSV","comments":"","instanceIdentifier":"77f43284-0bad-1de3-8a34-4ef48d491260"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"b28a74d3-7259-33aa-b9af-a7a5eadfe6a7","instanceIdentifier":"77f4328c-0bad-1de3-1723-386b856289c9","name":"","source":{"id":"534c6eea-da60-3f37-9be3-e311f7ee56ad","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f43283-0bad-1de3-4e62-6c359ae068ec"},"destination":{"id":"d1b86d89-a923-3fd2-8f59-9e073ec01bb8","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Exists?","comments":"","instanceIdentifier":"77f43282-0bad-1de3-4ac2-bf02339d183b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"e01adfa9-9ebb-348a-b65b-806ca07eb2af","instanceIdentifier":"77f43289-0bad-1de3-a9f7-51e160fec849","name":"","source":{"id":"534c6eea-da60-3f37-9be3-e311f7ee56ad","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f43283-0bad-1de3-4e62-6c359ae068ec"},"destination":{"id":"534c6eea-da60-3f37-9be3-e311f7ee56ad","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f43283-0bad-1de3-4e62-6c359ae068ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1189.3975219726562,"y":343.7792510986328},{"x":1125.3975219726562,"y":391.7792510986328}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"628f5507-4df1-34f4-8752-7e87dcf7d636","instanceIdentifier":"77f4328b-0bad-1de3-061e-57e6e52f180d","name":"","source":{"id":"09937d63-7a58-3700-9079-373b834e3b25","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"To CSV","comments":"","instanceIdentifier":"77f43284-0bad-1de3-8a34-4ef48d491260"},"destination":{"id":"7de30bad-77f4-31d7-87aa-189c6889a2e2","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"SplitText","comments":"","instanceIdentifier":"77f43286-0bad-1de3-5b1c-46fffa2e01b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"61954f05-1b76-31e2-82ea-f2c4cd924551","instanceIdentifier":"77f43290-0bad-1de3-2aa8-17c4fa60cca7","name":"","source":{"id":"7de30bad-77f4-31d7-87aa-189c6889a2e2","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"SplitText","comments":"","instanceIdentifier":"77f43286-0bad-1de3-5b1c-46fffa2e01b9"},"destination":{"id":"df6a78fb-4c01-3e6c-b0d9-caf59ef11313","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"ExtractText","comments":"Q.TGT_LAYER, Q.TGT_TABLE, Q.SOURCE_NAME, Q.LOAD_ID, Q.OVERRIDE_LOAD, Q.RUN_ID, CNT_PROCESSES","instanceIdentifier":"77f43287-0bad-1de3-15d6-59b9fe8fe4cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"f6727595-57ac-3043-94a0-36f0d0f5e6eb","instanceIdentifier":"77f43288-0bad-1de3-fa29-94700c78079b","name":"","source":{"id":"d6913e9e-47d5-3670-b0d9-f8e811e5ba91","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Fix Attributes","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES","instanceIdentifier":"77f43285-0bad-1de3-3362-286497c99100"},"destination":{"id":"fe218251-1ee1-3565-89e2-4d31be53a20a","type":"OUTPUT_PORT","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Done","comments":"","instanceIdentifier":"77f43280-0bad-1de3-4089-2361b6e08ee2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"bd681a08-8bd4-31ce-996e-14af16677060","instanceIdentifier":"77f4328f-0bad-1de3-8b97-a2c815fb4983","name":"","source":{"id":"46857f00-d8d1-3359-b28c-cbe527b5232d","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Select Base Tables, Edit Queue Table","comments":"${CONFIG_SCHEMA}","instanceIdentifier":"77f43281-0bad-1de3-6ff4-6145f7f6a35f"},"destination":{"id":"46857f00-d8d1-3359-b28c-cbe527b5232d","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Select Base Tables, Edit Queue Table","comments":"${CONFIG_SCHEMA}","instanceIdentifier":"77f43281-0bad-1de3-6ff4-6145f7f6a35f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2036.2006225585938,"y":510.0808868408203},{"x":2036.2006225585938,"y":560.0808868408203}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"817c86a9-3af5-33f1-b39e-6a3ac69a119c","instanceIdentifier":"77f4328a-0bad-1de3-7f7a-515d45f99812","name":"","source":{"id":"d1b86d89-a923-3fd2-8f59-9e073ec01bb8","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Exists?","comments":"","instanceIdentifier":"77f43282-0bad-1de3-4ac2-bf02339d183b"},"destination":{"id":"46857f00-d8d1-3359-b28c-cbe527b5232d","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Select Base Tables, Edit Queue Table","comments":"${CONFIG_SCHEMA}","instanceIdentifier":"77f43281-0bad-1de3-6ff4-6145f7f6a35f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Yes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"},{"identifier":"88a7140d-807d-3b98-b7b0-270bac6a86a6","instanceIdentifier":"77f4330f-0bad-1de3-83ca-76a02e390e61","name":"","source":{"id":"ad3d5774-61ce-3a4f-8614-16b8fa8ba2ac","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Generate Parallel Loading FlowFile","comments":"","instanceIdentifier":"77f4327b-0bad-1de3-7044-070f114e5342"},"destination":{"id":"534c6eea-da60-3f37-9be3-e311f7ee56ad","type":"PROCESSOR","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Check if Queue table exists","comments":"","instanceIdentifier":"77f43283-0bad-1de3-4e62-6c359ae068ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39f3d211-84b7-3045-8ad4-b4ce528e32e5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"}],"remoteProcessGroups":[],"processors":[{"identifier":"dd639d4a-f011-362d-83cc-cd2d645cb75a","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd","name":"Which Layer ?","comments":"","position":{"x":888.0,"y":248.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to Property name","run_stg":"${q_TGT_LAYER:equals('STG')}","run_SRCI":"${q_TGT_LAYER:equals('SRCI')}","run_bkey":"${q_TGT_LAYER:equals('BKEY')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"run_stg":{"name":"run_stg","displayName":"run_stg","identifiesControllerService":false,"sensitive":false},"run_SRCI":{"name":"run_SRCI","displayName":"run_SRCI","identifiesControllerService":false,"sensitive":false},"run_bkey":{"name":"run_bkey","displayName":"run_bkey","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"a2147234-66b1-39e4-8a37-9a8284ae694f","instanceIdentifier":"77f432a7-0bad-1de3-1d8e-56add91eed7a","name":"STG_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","position":{"x":1496.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"call ${CONFIG_SCHEMA}.STG_PROCESS_LOADING\n(\n  '${q_TGT_TABLE}'\t\t\t\t--IN \t\tI_PROCESSNAME  \t\t\tVARCHAR(1000),\n  ,${q_RUN_ID}\t\t\t\t\t--IN \t\tI_RUN_ID \t\t\t\tBIGINT,\n  ,'${q_LOAD_ID}'\t\t\t\t--IN\t\tI_LOAD_ID\t\t\t\tVARCHAR(500),\n  ,0\t\t\t\t\t\t\t--IN \t\tI_RELOAD,\t\n  ,0\t\t\t\t\t\t\t--IN \t\tI_ALL_BATCHES,\t\n  ,V_dbc_INSERTED_ROWS_COUNT \t--OUT  \t\tO_ROWS_INSERTED_COUNT\tFLOAT,\n  ,V_dbc_updated_ROWS_COUNT \t--OUT  \t\tO_ROWS_UPDATED_COUNT\tFLOAT,\n  ,V_dbc_deleted_ROWS_COUNT \t--OUT  \t\tO_ROWS_DELETED_COUNT\tFLOAT,\n  ,V_DBC_RETURN_CODE \t\t\t--OUT  \t\tO_RETURN_CODE  \t\t\tINTEGER,\n  ,V_DBC_RETURN_MSG \t\t\t--OUT  \t\tO_RETURN_MSG \t\t\tVARCHAR(5000)\n  ,v_dbc_run_id\n);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"cf0e7853-607d-3e34-b1e9-79bde78732ad","instanceIdentifier":"77f432b3-0bad-1de3-7c11-9f4846184c2a","name":"EDW_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","position":{"x":1496.0,"y":512.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"call ${CONFIG_SCHEMA}.EDW_LOADING\n    (\n    '${q_SOURCE_NAME}'\t\t\t\t--IN \t\ti_SOURCE_NAME  \t\t\tVARCHAR(200),\n    ,null\t\t\t\t\t\t\t--IN \t\tI_PROCESS_NAME  \t\tVARCHAR(1000),\n    ,'${q_TGT_LAYER}'\t\t\t\t--IN \t\ti_LAYER_NAME  \t\t\tVARCHAR(200),\n    ,'${q_TGT_TABLE}'\t\t\t\t--IN \t\ti_TABLE_NAME  \t\t\tVARCHAR(200),\n    ,${q_RUN_ID}\t\t\t\t\t--IN \t\tI_RUN_ID \t\t\t\tBIGINT,\n    ,'${q_LOAD_ID}'\t\t\t\t\t--IN\t\tI_LOAD_ID\t\t\t\tVARCHAR(500),\n    ,x\t\t\t\t\t\t\t\t--OUT  \tO_ROWS_INSERTED_COUNT\tFLOAT,\n    ,y\t\t\t\t\t\t\t\t--OUT  \tO_ROWS_UPDATED_COUNT\tFLOAT,\n    ,z\t\t\t\t\t\t\t\t--OUT  \tO_ROWS_DELETED_COUNT\tFLOAT,\n    ,a\t\t\t\t\t\t\t\t--OUT  \tO_RETURN_CODE  \t\t\tINTEGER,\n    ,b\t\t\t\t\t\t\t\t--OUT  \tO_RETURN_MSG \t\t\tVARCHAR(5000),\n    ,c\t\t\t\t\t\t\t\t--OUT \to_run_id \t\t\t\tBIGINT\t\t\n    )","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","position":{"x":2280.0,"y":248.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"update ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE\nset TGT_TABLE_STATE = 3, LAST_UPDATE_TIME = CURRENT_TIMESTAMP\nwhere TGT_TABLE_STATE = 2\nand TGT_LAYER = '${q_TGT_LAYER}'\nand TGT_TABLE = '${q_TGT_TABLE}'\nand SOURCE_NAME = '${q_SOURCE_NAME}'\nand LOAD_ID = '${q_LOAD_ID}'\nand RUN_ID = ${q_RUN_ID};","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"1371e4b2-2a3e-3b19-abaa-7914d670ff48","instanceIdentifier":"77f432ab-0bad-1de3-55d1-dbaa5cfc0bd2","name":"BKEY_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","position":{"x":1496.0,"y":152.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"call ${CONFIG_SCHEMA}.BKEY_LOADING\n (\n\t'${q_SOURCE_NAME}'\t\t\t\t--IN \ti_SOURCE_NAME \t\t\tVARCHAR(100), \n\t,NULL\t\t\t\t\t\t\t--IN \tI_PROCESS_NAME \t\t\tVARCHAR(200),\n\t,'${q_TGT_TABLE}' \t\t\t\t--IN \ti_TABLE_NAME  \t\t\tVARCHAR(200),\n\t,${q_RUN_ID}\t\t\t\t\t--IN \tI_RUN_ID \t\t\t\tBIGINT,\n\t,'${q_LOAD_ID}'\t\t\t\t\t--IN\tI_LOAD_ID\t\t\t\tVARCHAR(500),\n\t,V_dbc_INSERTED_ROWS_COUNT\t\t--OUT ROWS_COUNT_VALUE\t\t\tINTEGER \n\t,V_DBC_RETURN_CODE\t\t\t\t--OUT RETURN_CODE    \t\t\tINTEGER,\n\t,V_DBC_RETURN_MSG \t\t\t\t--OUT RETURN_MSG  \t\t\t\tVARCHAR(1000),\n \t,v_dbc_run_id\n );\t","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"de0c1ec0-0c60-36b3-bf69-eab31a6adf79","instanceIdentifier":"77f432af-0bad-1de3-756e-4afa84f7d1cc","name":"SRCI_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","position":{"x":1496.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"call ${CONFIG_SCHEMA}.SRCI_PROCESS_LOADING\n(\n  '${q_TGT_TABLE}'\t\t\t\t--IN \t\tI_PROCESSNAME  \t\t\tVARCHAR(1000),\n  ,${q_RUN_ID}\t\t\t\t\t--IN \t\tI_RUN_ID \t\t\t\tBIGINT,\n  ,'${q_LOAD_ID}'\t\t\t\t--IN\t\tI_LOAD_ID\t\t\t\tVARCHAR(500),\n  ,V_dbc_INSERTED_ROWS_COUNT \t--OUT  \t\tO_ROWS_INSERTED_COUNT\tFLOAT,\n  ,V_dbc_updated_ROWS_COUNT \t--OUT  \t\tO_ROWS_UPDATED_COUNT\tFLOAT,\n  ,V_dbc_deleted_ROWS_COUNT \t--OUT  \t\tO_ROWS_DELETED_COUNT\tFLOAT,\n  ,V_DBC_RETURN_CODE \t\t\t--OUT  \t\tO_RETURN_CODE  \t\t\tINTEGER,\n  ,V_DBC_RETURN_MSG \t\t\t--OUT  \t\tO_RETURN_MSG \t\t\tVARCHAR(5000)\n  ,v_dbc_run_id\n);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":100,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"69b2ca41-6db9-3f3f-805e-1877a504b20e","instanceIdentifier":"77f432a9-0bad-1de3-e288-c9044420f75c","name":"","source":{"id":"a2147234-66b1-39e4-8a37-9a8284ae694f","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"STG_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432a7-0bad-1de3-1d8e-56add91eed7a"},"destination":{"id":"a2147234-66b1-39e4-8a37-9a8284ae694f","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"STG_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432a7-0bad-1de3-1d8e-56add91eed7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1768.0,"y":-80.0},{"x":1608.0,"y":-80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"9adf8d01-51b9-3c06-99c2-1815608bcdb2","instanceIdentifier":"77f432a8-0bad-1de3-9470-4570e9bfb453","name":"","source":{"id":"dd639d4a-f011-362d-83cc-cd2d645cb75a","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Which Layer ?","comments":"","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd"},"destination":{"id":"a2147234-66b1-39e4-8a37-9a8284ae694f","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"STG_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432a7-0bad-1de3-1d8e-56add91eed7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["run_stg"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"b4c8fda6-8cac-3d37-b1e9-322352a1aec1","instanceIdentifier":"77f43298-0bad-1de3-df93-00f360eaa863","name":"","source":{"id":"fe218251-1ee1-3565-89e2-4d31be53a20a","type":"OUTPUT_PORT","groupId":"39f3d211-84b7-3045-8ad4-b4ce528e32e5","name":"Done","comments":"","instanceIdentifier":"77f43280-0bad-1de3-4089-2361b6e08ee2"},"destination":{"id":"dd639d4a-f011-362d-83cc-cd2d645cb75a","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Which Layer ?","comments":"","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"9d2c865b-eb8e-3222-b0be-e279c75db9af","instanceIdentifier":"77f432be-0bad-1de3-a09c-f0294f01aefe","name":"","source":{"id":"cf0e7853-607d-3e34-b1e9-79bde78732ad","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"EDW_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432b3-0bad-1de3-7c11-9f4846184c2a"},"destination":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"5e1935dc-10fb-3de6-a6e1-f3b9b1bb4126","instanceIdentifier":"77f432bc-0bad-1de3-3277-b0f3d043a532","name":"","source":{"id":"a2147234-66b1-39e4-8a37-9a8284ae694f","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"STG_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432a7-0bad-1de3-1d8e-56add91eed7a"},"destination":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"8b73da2b-16bc-3570-8c10-76a3d3583de8","instanceIdentifier":"77f432b1-0bad-1de3-cf50-b20ab3c4fa2c","name":"","source":{"id":"de0c1ec0-0c60-36b3-bf69-eab31a6adf79","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"SRCI_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432af-0bad-1de3-756e-4afa84f7d1cc"},"destination":{"id":"de0c1ec0-0c60-36b3-bf69-eab31a6adf79","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"SRCI_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432af-0bad-1de3-756e-4afa84f7d1cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1608.0,"y":463.75},{"x":1752.0,"y":463.75}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"f789e143-3806-33a2-b9fc-221594355cc1","instanceIdentifier":"77f432b5-0bad-1de3-9ab0-164847278c0f","name":"","source":{"id":"cf0e7853-607d-3e34-b1e9-79bde78732ad","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"EDW_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432b3-0bad-1de3-7c11-9f4846184c2a"},"destination":{"id":"cf0e7853-607d-3e34-b1e9-79bde78732ad","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"EDW_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432b3-0bad-1de3-7c11-9f4846184c2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1776.0,"y":673.0},{"x":1608.0,"y":665.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"19f48530-2de7-3a9c-96e3-01e27502ffc3","instanceIdentifier":"77f432b0-0bad-1de3-3b58-c56aa84902c5","name":"","source":{"id":"dd639d4a-f011-362d-83cc-cd2d645cb75a","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Which Layer ?","comments":"","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd"},"destination":{"id":"de0c1ec0-0c60-36b3-bf69-eab31a6adf79","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"SRCI_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432af-0bad-1de3-756e-4afa84f7d1cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["run_SRCI"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"94025895-dd6b-3311-9289-67f9a9f6737e","instanceIdentifier":"77f432c3-0bad-1de3-e703-5ef754841c02","name":"","source":{"id":"1371e4b2-2a3e-3b19-abaa-7914d670ff48","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"BKEY_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432ab-0bad-1de3-55d1-dbaa5cfc0bd2"},"destination":{"id":"1371e4b2-2a3e-3b19-abaa-7914d670ff48","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"BKEY_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432ab-0bad-1de3-55d1-dbaa5cfc0bd2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1758.75,"y":122.0},{"x":1606.75,"y":130.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"ec169027-1212-38a5-99b9-fbec7f4ee34b","instanceIdentifier":"77f432c2-0bad-1de3-930e-a93e8ee9f1b2","name":"","source":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"destination":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2713.592529296875,"y":268.5973289012909},{"x":2769.592529296875,"y":307.84726786613464}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"b762c712-a965-389b-b2d6-b46364bd1446","instanceIdentifier":"77f432ac-0bad-1de3-7dab-eb2d704aeeb7","name":"","source":{"id":"dd639d4a-f011-362d-83cc-cd2d645cb75a","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Which Layer ?","comments":"","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd"},"destination":{"id":"1371e4b2-2a3e-3b19-abaa-7914d670ff48","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"BKEY_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432ab-0bad-1de3-55d1-dbaa5cfc0bd2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["run_bkey"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"739224a1-300f-34d5-8cb5-48d2c60ca39f","instanceIdentifier":"77f432b4-0bad-1de3-0c37-b9336559e442","name":"","source":{"id":"dd639d4a-f011-362d-83cc-cd2d645cb75a","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Which Layer ?","comments":"","instanceIdentifier":"77f432a4-0bad-1de3-d8ab-ef7e60705dfd"},"destination":{"id":"cf0e7853-607d-3e34-b1e9-79bde78732ad","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"EDW_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432b3-0bad-1de3-7c11-9f4846184c2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"8e372274-6517-3d42-a5d3-6d6c9bd77231","instanceIdentifier":"77f432bb-0bad-1de3-b4c3-d11f49b011a8","name":"","source":{"id":"1371e4b2-2a3e-3b19-abaa-7914d670ff48","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"BKEY_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432ab-0bad-1de3-55d1-dbaa5cfc0bd2"},"destination":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"},{"identifier":"f468af3f-0d84-3f56-b915-66bf3ea9739e","instanceIdentifier":"77f432bd-0bad-1de3-c12b-ef3403bd087d","name":"","source":{"id":"de0c1ec0-0c60-36b3-bf69-eab31a6adf79","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"SRCI_PROCESS_LOADING","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432af-0bad-1de3-756e-4afa84f7d1cc"},"destination":{"id":"16261ed9-8085-3c28-a22b-19bb0f7c8aaf","type":"PROCESSOR","groupId":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe","name":"Update Queue Table","comments":"q_TGT_LAYER, q_TGT_TABLE, q_SOURCE_NAME, q_LOAD_ID, q_OVERRIDE_LOAD, q_RUN_ID, q_CNT_PROCESSES\n","instanceIdentifier":"77f432c0-0bad-1de3-84f2-1fe3a9259ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c42efb18-1aba-3c2e-b4fe-a87e5a7afcbe"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"}],"remoteProcessGroups":[],"processors":[{"identifier":"1b6928d9-35dc-354f-8347-c092906af4cd","instanceIdentifier":"77f432d0-0bad-1de3-0b30-7a3a98d2f243","name":"Create Queue Table","comments":"","position":{"x":1088.0,"y":72.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"2180920e-934f-3599-95f9-d4fa09d7c7c3","sql-post-query":"update ${CONFIG_SCHEMA}.EXEC_SOURCE_LOGS\nset DONE = 1, ERROR_CODE = -1, ERROR_MSG = 'ABORT', END_TIMESTAMP = current_timestamp\nwhere (DONE = 0 OR END_TIMESTAMP IS NULL);\n\ninsert into ${CONFIG_SCHEMA}.EXEC_RUN_LOGS\n(RUN_ID) values (${v_run_id});","esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"CREATE MULTISET TABLE ${CONFIG_SCHEMA}.EXEC_RUN_LOGS ,no FALLBACK ,\n     NO BEFORE JOURNAL,\n     NO AFTER JOURNAL,\n     CHECKSUM = DEFAULT,\n     DEFAULT MERGEBLOCKRATIO,\n     MAP = TD_MAP1\n     (      RUN_ID BIGINT NOT NULL  )\nPRIMARY INDEX ( RUN_ID );","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"CREATE SET TABLE ${CONFIG_SCHEMA}.TGT_TABLES_QUEUE ,FALLBACK ,\n     NO BEFORE JOURNAL,\n     NO AFTER JOURNAL,\n     CHECKSUM = DEFAULT,\n     DEFAULT MERGEBLOCKRATIO,\n     MAP = TD_MAP1\n     (\n       TGT_TABLE VARCHAR(200) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL\n\t  ,TGT_LAYER VARCHAR(200) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL\n\t  ,LAYER_LEVEL integer not null\n\t  ,SOURCE_NAME VARCHAR(100) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL\n\t  ,RUN_ID BIGINT NOT NULL\n      ,TGT_TABLE_STATE INTEGER DEFAULT 0 \n      ,LOAD_ID VARCHAR(200) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL\n      ,OVERRIDE_LOAD INTEGER DEFAULT 0 \n      ,LAST_UPDATE_TIME TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP(6)\n\t  , check (\n\t\t\t\t\tTGT_TABLE_STATE = 0 /* ready to be queued */\n\t\t\t\tor \tTGT_TABLE_STATE = 1 /* queued */\n\t\t\t\tor \tTGT_TABLE_STATE = 2 /* dispatched */\n\t\t\t\tor \tTGT_TABLE_STATE = 3 /* processed */\n\t\t\t\t\n\t\t\t)\n\t  )\nUNIQUE PRIMARY INDEX ( TGT_TABLE ,TGT_LAYER ,RUN_ID , LOAD_ID);","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"},{"identifier":"d5b60995-b764-3458-bbc7-3aa6bd2b771e","instanceIdentifier":"77f432cc-0bad-1de3-d476-b2e0c4d87ca2","name":"Start New Run","comments":"","position":{"x":344.0,"y":72.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"CONFIG_SCHEMA":"GDEV1_ETL","Batch Size":"1","database.name":"Citizen_DEV","Unique FlowFiles":"false","Data Format":"Text","v_run_id":"${now():toNumber()}"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"CONFIG_SCHEMA":{"name":"CONFIG_SCHEMA","displayName":"CONFIG_SCHEMA","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"database.name":{"name":"database.name","displayName":"database.name","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"v_run_id":{"name":"v_run_id","displayName":"v_run_id","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d529a912-dced-37b2-84f0-90a9afa2b072","instanceIdentifier":"77f432d2-0bad-1de3-77e9-1cf0f77c04e5","name":"","source":{"id":"1b6928d9-35dc-354f-8347-c092906af4cd","type":"PROCESSOR","groupId":"95943849-fa70-390c-b9df-aa9fbbfbb7d5","name":"Create Queue Table","comments":"","instanceIdentifier":"77f432d0-0bad-1de3-0b30-7a3a98d2f243"},"destination":{"id":"1b6928d9-35dc-354f-8347-c092906af4cd","type":"PROCESSOR","groupId":"95943849-fa70-390c-b9df-aa9fbbfbb7d5","name":"Create Queue Table","comments":"","instanceIdentifier":"77f432d0-0bad-1de3-0b30-7a3a98d2f243"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1554.94384765625,"y":109.67115783691406},{"x":1554.94384765625,"y":159.67115783691406}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"},{"identifier":"bb6a26da-bf0f-3091-9b47-65b5e382a968","instanceIdentifier":"77f432d1-0bad-1de3-d223-a16550fbbc7f","name":"","source":{"id":"d5b60995-b764-3458-bbc7-3aa6bd2b771e","type":"PROCESSOR","groupId":"95943849-fa70-390c-b9df-aa9fbbfbb7d5","name":"Start New Run","comments":"","instanceIdentifier":"77f432cc-0bad-1de3-d476-b2e0c4d87ca2"},"destination":{"id":"1b6928d9-35dc-354f-8347-c092906af4cd","type":"PROCESSOR","groupId":"95943849-fa70-390c-b9df-aa9fbbfbb7d5","name":"Create Queue Table","comments":"","instanceIdentifier":"77f432d0-0bad-1de3-0b30-7a3a98d2f243"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95943849-fa70-390c-b9df-aa9fbbfbb7d5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"9ab16de3-eb09-3a2f-a0e3-2e5e1b68feec":{"identifier":"9ab16de3-eb09-3a2f-a0e3-2e5e1b68feec","name":"CSVRecordSetWriter"},"2180920e-934f-3599-95f9-d4fa09d7c7c3":{"identifier":"2180920e-934f-3599-95f9-d4fa09d7c7c3","name":"DBCPConnectionPoolLookup"},"58b007ab-3af5-387e-beeb-da46552f0500":{"identifier":"58b007ab-3af5-387e-beeb-da46552f0500","name":"AvroReader"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}